{% extends 'layout.html.twig' %}

{% block title %}New{% endblock %}
{% block featured %}
{% endblock %}
{% block page_content %}
    <div class="glass rounded p-3">
        {{ form(form) }}
    </div>
{% endblock %}

